@use '../../assets/styles/breakpoints' as bp;

section.projects {
  display: flex;
  flex-direction: column;

  padding: 2rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  .title {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

    h1 {
      max-width: 20rem;
    }

    .select {
      border: 1px solid #e5e5e5;
      @include flex-center;
      justify-content: flex-start;
      align-self: flex-end; // ALIGN!
      position: relative;
      white-space: nowrap;
      max-width: 100%;
      overflow-x: scroll;

      // SCROLL
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      $base: 0.9rem; // font size => then calculated

      font-size: $base;
      gap: calc($base/2);
      padding: calc($base/3);

      .select-slider {
        pointer-events: none;
        background: black;
        position: absolute;
        left: calc($base/3);
        width: 0;
        top: calc($base/3);
        bottom: calc($base/3);
        transition: 0.2s;
        z-index: -1;
        // height: 10px;
      }

      .select-item {
        padding: $base * 0.8;
        cursor: pointer;
        transition: color 0.2s;

        &[data-selected='true'] {
          color: white;
        }
      }
    }
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    .project-item {
      .img {
        margin-bottom: 1rem;
        img {
          width: 100%;
        }
      }

      h3.category {
        font-size: 0.95rem;
        margin-bottom: 1rem;
      }

      .title {
        font-weight: 500;
      }
    }
  }

  @include bp.tablet {
    > h3 {
      font-size: 1.5rem;
    }

    .title {
      flex-direction: column;

      h1 {
        font-size: 3.5rem;
        max-width: 30rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      .select {
        align-self: flex-start;
        font-size: 1.4rem;
        padding: 0.5rem;
      }
    }

    .project-grid {
      grid-template-columns: repeat(1, 1fr);

      .project-item {
        h3.category {
          font-size: 1.5rem;
          font-weight: 400;
        }

        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
