@use '../assets/styles/breakpoints' as bp;

footer {
  background: black;
  color: white;
  padding: 3rem;
  padding-top: 8rem;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    h1 {
      font-weight: 500;
      width: 20rem;
      font-size: 2.5rem;
      line-height: 1.3;
    }

    ul {
      width: 14rem;

      li {
        margin: 1rem 0;
        line-height: 1.8;
        position: relative;

        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
          font-size: 1.5rem;
          flex-shrink: 0;
        }
      }
    }
  }

  .middle {
    border-top: 0.1rem solid #ffffff99;
    border-bottom: 0.1rem solid #ffffff99;

    padding: 3rem 0;

    display: flex;
    justify-content: space-between;

    .links-nav {
      display: flex;
      gap: 4rem;
    }

    .links-social {
      display: flex;
      gap: 1.5rem;
      font-size: 1.5rem;
      line-height: 0;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5rem;

    .logo {
      @include flex-center;
      gap: 2rem;

      img {
        filter: invert(1);
        width: 7.5rem;
      }

      h1 {
        font-size: 4.5rem;
        font-weight: 500;
      }
    }

    .attribution {
      font-weight: 300;
    }
  }

  @include bp.mobile {
    padding: 2rem;
    padding-top: 4rem;

    .top {
      flex-direction: column;

      h1 {
        font-size: 3rem;
        max-width: 20rem;
        margin-bottom: 8rem;
      }

      ul {
        width: 25rem;
        font-size: 1.5rem;
        font-weight: 200;

        li svg {
          font-size: 2rem;
        }
      }
    }

    .middle {
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 200;

      position: relative;
      gap: 2rem;

      .links-nav {
        justify-content: space-between;
        gap: unset;
      }

      .links-social {
        font-size: 2rem;
        gap: 2rem;
      }
    }

    .bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.5rem;

      .attribution {
        font-size: 1.5rem;
      }
    }
  }
}
