.impact {
  @include flex-center;

  padding: 10rem 0;
  flex-direction: column;
  text-align: center;

  h3 {
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
    font-weight: 500;
  }

  .data-strip {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3rem;
    gap: 1.5rem;

    .data-item {
      background: #fafafa;
      border: 1px solid #e5e5e5;
      padding: 1.3rem;
      // height: 200px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      text-align: left;

      .icon {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: #e3f2e2;
        font-size: 2rem;

        margin-bottom: 2.5rem;
        @include flex-center;

        svg {
          width: 2rem;
          mix-blend-mode: soft-light;
        }
      }

      h2 {
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 2.8rem;
      }

      p {
        color: #8f8f8f;
        font-size: 1.2rem;
        font-weight: 300;
      }

      $colors: #4aa944, #ff6430, black, #1b84ac;

      &:nth-child(1) {
        .icon {
          background: lighten(#4aa944, 30);
        }
      }
      &:nth-child(2) {
        .icon {
          background: lighten(#ff6430, 25);
        }
      }
      &:nth-child(3) {
        .icon {
          background: #ccc;
        }
      }
      &:nth-child(4) {
        .icon {
          background: lighten(#1b84ac, 40);
        }
      }
    }
  }
}
