@use '../assets/styles/breakpoints' as bp;

nav {
  transition: box-shadow 0.3s;
  background: white;
  position: sticky;
  z-index: 100;
  top: 0;

  &.shadow {
    box-shadow: 0 0 10px #00000022;
  }

  .content {
    padding: 2rem 1rem;
    @include flex-center;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;

    .nav-left {
      @include flex-center;

      .logo {
        @include flex-center;
        font-size: 1.6rem;
        // gap: 0.6em;

        img {
          width: 2em;
        }

        span {
          margin: 0 0.6rem;
        }
      }

      .links {
        margin-left: 12rem;

        a {
          margin: 0 0.8rem;
          padding-bottom: 0.2rem;
        }
      }
    }

    .nav-right {
      button.contact-button {
        @include button;
      }

      button.menu-toggle {
        display: none;
        color: black;
      }
    }

    @include bp.tablet {
      padding: 2rem 2rem;

      .nav-left {
        .logo {
          font-size: 2rem;
        }

        .links {
          position: absolute;
          background: white;
          bottom: 0;
          right: 0;
          transform: translateY(99%);
          width: 100vw;

          display: none; // flex when menu open
          flex-direction: column;
          font-size: 2rem;

          box-shadow: 0 5px 5px #00000011;

          a {
            padding: 2rem;
            border-top: 0.1rem solid #00000022;
          }

          &.menu-open {
            display: flex;
          }
        }
      }

      .nav-right {
        button.contact-button {
          display: none;
        }

        button.menu-toggle {
          display: contents;

          font-size: 3rem;
        }
      }
    }
  }
}
