@use '../assets/styles/breakpoints' as bp;

nav {
  // height: 7rem;
  padding: 2rem 1rem;
  background: white;
  position: sticky;
  z-index: 100;
  top: 0;

  @include flex-center;
  justify-content: space-between;

  transition: box-shadow 0.3s;

  &.shadow {
    box-shadow: 0 0 10px #00000022;
  }

  .nav-left {
    @include flex-center;

    .logo {
      @include flex-center;
      font-size: 1.6rem;
      // gap: 0.6em;

      img {
        width: 2em;
      }

      span {
        margin: 0 0.6rem;
      }
    }

    .links {
      margin-left: 12rem;

      a {
        margin: 0 0.8rem;
        padding-bottom: 0.2rem;
      }
    }
  }

  .nav-right {
    button {
      @include button;
    }
  }

  @include bp.mobile {
    .nav-left {
      .logo {
        font-size: 2rem;
      }

      .links {
        display: none;
      }
    }
  }
}
